<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card-title">
        <h1> Employees </h1>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card-filter">
        <h3> Filters </h3>

        <div class="filter-form">
          <app-card-filter></app-card-filter>

        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="">
        <div *ngIf="loading$ | async">
          <app-loading></app-loading>
        </div>
      </div>
      <div [hidden]="loading$ | async">
        <div class="card-table" *ngIf="employees$ | async as employees">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Date</th>
                  <th>Company</th>
                  <th>Country</th>
                  <!-- <th></th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of employees; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.date | date }}</td>
                  <td>{{ item.company }}</td>
                  <td>{{ item.country }}</td>
                  <!-- <td> <a class="btn" routerLink="/employee/{{item._id}}"> Details </a> </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="employees.length == 0">
            <app-not-found></app-not-found>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
