<div class="card-filter">
  <h3 (click)="isShow = !isShow"> Filters </h3>
  <div class="filter-form" *ngIf="!isShow">
    <form #filterForm="ngForm">

      <div class="input-group" *ngFor="let item of items">
        <div [ngSwitch]="item.type" class="w-100">
          <div *ngSwitchCase="'text'">
            <input [type]="item.type" class="form-control" [placeholder]="item.title" [(ngModel)]="employee[item.title]"
              [name]="item.title">
          </div>
          <div *ngSwitchCase="'dropdown'" class="w-100">
            <select class="form-select" [(ngModel)]="employee[item.title]" [name]="item.title">
              <option value="" selected> country </option>
              <option *ngFor="let item of countries" [value]="item.country">{{item.country}}</option>
            </select>
          </div>
          <div *ngSwitchCase="'date'">
            <input [type]="item.type" class="form-control" [placeholder]="item.title" [(ngModel)]="employee[item.title]"
              [name]="item.title">
          </div>
        </div>

      </div>

      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="employee.phone" name="phone">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="employee.name" name="name">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="country" [(ngModel)]="employee.country" name="country"
          #country="ngModel">
      </div>
      <div class="input-group ">
        <input type="date" class="form-control" placeholder="date" [(ngModel)]="employee.date" name="date">
      </div> -->
      <!-- <span class="text-danger" *ngIf="filterForm.submitted && country.errors['required']">
                Country is required
              </span> -->

      <div class="input-group ">
        <button class="btn" type="submit" (click)="setQuery()"> Filter </button>
      </div>
    </form>
  </div>
</div>
