/* You can add global styles to this file, and also import other style files */

body {
  background-color: #eef0f2;
}
.card-title {
  text-align: center;
  h1 {
    font-size: 34px !important;
    padding: 30px 0px;
  }
}
.card-table {
  background-color: #fff;
  margin-bottom: 30px;
  .table {
    border-color: #e9edf4;
    color: #42444d !important;
  }
  .table > thead {
    vertical-align: middle;
    background: #f7f8f9;
  }
  .table > :not(caption) > * > * {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
  }
  .btn {
    background-color: #e0e5ea;
    font-size: 12px;
    border-radius: 4px;
    padding: 5px 10px;
  }
}
.card-filter {
  background-color: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  h3 {
    font-size: 35px;
    color: #42444d;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    z-index: 9;
  }
  h3:hover {
    background-color: #f5f5f5;
  }
  .filter-form {
    padding: 15px;
    .input-group {
      margin-bottom: 20px;
      .btn {
        background-color: #007aff;
        color: #fff;
        margin: 15px auto;
        font-size: 16px;
        padding: 8px 30px;
        border-radius: 4px;
      }
    }
    .form-control {
      border: 0px solid #fff;
      border-bottom: 2px solid #e2e4e5;
      border-radius: 0px;
      font-size: 14px;
      color: #555;
    }
    .form-select {
      border: 0px solid #fff;
      border-bottom: 2px solid #e2e4e5;
      border-radius: 0px;
      font-size: 14px;
      color: #555;
    }
  }
}
.card-search {
  background-color: #fff;
  border: 1px solid #eef0f2;
  border-radius: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  p {
    padding: 5px;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
  }
  .form-control {
    font-size: 14px;
    border-radius: 4px;
  }
}
